.app {
  @apply h-screen flex items-center justify-center;
}

.backToHome {
  @apply bg-white inline-block m-5 shadow px-4 py-1 text-xl rounded-lg select-none;
}

.login {
  @apply flex items-center justify-center mt-2 relative z-30 transition-all ease-in-out duration-300;
  width: 27em;
}

.login.right {
  @apply items-end;
  right: -40%;
}

.container {
  @apply flex items-center justify-center bg-white rounded-md relative z-30 w-full h-full shadow-xl py-8 px-5 border border-light;
}

.rightSide {
  @apply flex flex-col justify-center items-end bg-purple w-full absolute cursor-pointer z-10 rounded-md shadow-xl transition-all duration-500 ease-in-out;
  height: 90%;
  right: -34%;
}

.rightSide .text {
  @apply mx-5 text-xl text-white font-medium;
}

.rightSide.left {
  @apply items-start;
  right: 40%;
}

.right:hover {
  right: -45%;
}

.left:hover {
  right: 45%;
}
