.AuthContainer {
  @apply w-full flex flex-col items-center;
}

.Header {
  @apply text-3xl py-5;
}

.Content {
  @apply flex flex-col w-72 lg:w-80 items-center;
}

.Image {
  @apply w-full;
}

.content .Image img {
  @apply w-full h-full;
}

.Form {
  @apply mt-4 w-full flex flex-col items-center;
}

.FormGroup {
  @apply flex flex-col items-start w-full mb-5;
}
.FormGroup label {
  @apply text-xl text-black mb-1;
}

.FormGroup input {
  @apply w-full h-10 bg-cool py-2 px-2 outline-none text-xl border-0 rounded transition-all;
}

.FormGroup button {
  @apply bg-purple p-2 mt-1 text-cool text-center focus:outline-none outline-none rounded w-24;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Login Main Container */
.login {
  width: 27em;
  height: 40em;
  /* min-height: 44em; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
}

.RightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  background-color: #3498db;
  width: 100%;
  position: absolute;
  right: -34%;
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}

.RightSide .Text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin: 0 1rem;
}
.login.right {
  transition: all ease-out 0.2s;
  right: -40%;
  align-items: flex-end;
}

.right:hover {
  right: -45%;
}
.RightSide.left {
  right: 40%;
  align-items: flex-start;
}
.left:hover {
  right: 45%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 17px 10px;
  /*transition: transform 200ms ease-in-out; */
}

.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
